@font-face {
  font-family: 'iconfont';  /* project id 507577 */
  src: url('//at.alicdn.com/t/font_507577_zln1qz76j2p7rpb9.eot');
  src: url('//at.alicdn.com/t/font_507577_zln1qz76j2p7rpb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_507577_zln1qz76j2p7rpb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_507577_zln1qz76j2p7rpb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_507577_zln1qz76j2p7rpb9.svg#iconfont') format('svg');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}
button{
    cursor: pointer;
}
.layout{
    min-width: 1200px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: iconfont;
}